.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
backend/no-of-phc-chc.json
backend/list-of-wellness-centres.json
backend/list-of-meds.json
